/* ForecastItem.module.css */
.forecastItem {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  height: 200px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
 }
 
 .dateTime {
  font-size: 20px;
  color: #666;
 }
 
 .temp {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: baseline;
 }
 
 .tempSub {
  font-size: 16px;
  color: #666;
 }
 
 .minMax {
  font-size: 12px;
  color: #666;
  text-align: center;
 }
 
 .weatherIcon {
  width: 50px;
  height: 50px;
  margin-top: auto;
 }

.description {
  font-size: 16px;
  margin-top: 3px;
  color: rgb(53, 40, 40);
}